@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: #505962;
}

.offset:before {
    display: block;
    content: "";
    height: 2.8rem;
    margin-top: -4.5rem;
}

/*--- Navigation --*/

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background-color: #242424 !important;
}

.navbar-brand img {
    height: 3.5rem;
}

.navbar-nav li {
    padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #0EF6CC;
}

/*--- Landing Page --*/
.home-inner {
    background-image: url(img/ArethaFranklinMenta\ \(1\).png);
}

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 43%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
}

.caption h1 {
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}

.caption h3 {
    font-size: 2rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
}

.btn-lg {
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.3rem;
    font-size: 1.1rem;
}

/*--- Course Section ---*/
.narrow {
    width: 75%;
    margin: 1.5rem auto;
    padding-top: 2rem;
}

.narrow h1 {
    font-size: 2.4rem;
}

.btn-secondary {
    border-width: medium;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: .6rem 1.2rem;
    margin: 1rem;
    color: white;
    background-color: #3A4F50;
    border-color: #3A4F50;
}

.btn-secondary:hover {
    background-color: #0EF6CC;
    border-color: #0EF6CC;
}

/*--- Features Section ---*/

.jumbotron {
    margin-bottom: 0;
    padding: 2rem 0 3.5rem;
    border-radius: 0;
}

h3.heading {
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
}

.heading-underline {
    width: 3rem;
    height: .2rem;
    background-color: #505962;
    margin: 0 auto 2rem;
}

.feature svg.svg-inline--fa {
    color: #505962;
}

.feature h3 {
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-bottom: .4rem;
}

.feature p {
    font-size: 1.1rem;
}

/*--- Resources Section ---*/
.fixed {
    background-image: url(img/concert.jpeg);
    z-index: -1;
}

.dark {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 7rem 2rem;
}

.fixed-backgound h3 {
    margin-bottom: 2rem;
}

.fixed-backgound p {
    margin-top: 1.5rem;
}

/*--- Clients Section ---*/

.clients img {

    width: 100%;
    height: auto;
    border-radius: 50%;
}

blockquote svg.svg-inline--fa {
    color: #f39140;
    margin: 1rem;
}

.clients-hr {
    border-top: .05rem solid #505962;
}

/*--- Contact Section ---*/

footer {
    background-color: #40474e;
    color: white;
    padding: 2rem 0 2rem;
    margin-top: 1rem;
}

footer img {
    height: 7rem;
    margin: 1.5rem 0;
}

footer a {
    color: white;
}

footer svg.svg-inline--fa {
    font-size: 1.6rem;
    margin: 1.2rem .5rem 0 0;
}

footer svg.svg-inline--fa:hover {
    color: #f39140 !important;
}

hr.socket {
    width: 100%;
    border-top: .2rem solid #666b71;
    margin-top: 3rem;
}

.peeps img {
    width: 100%;
    height: 150px;
    border-radius: 50%;
}

.peeps p {
    text-align: center;
}




.record h3 {
    font-size: 50px;
}

.fund h3 {
    font-size: 50px;
}

.netlogos {
    margin-top: 50px;
}

/*--- Media Queries ---*/

@media (max-width: 767px) {
    .caption h1 {
        font-size: 2.3rem;
        letter-spacing: .15rem;
        padding-bottom: .5rem;
    }

    .caption h3 {
        font-size: 1.2rem;
        padding-bottom: 1.2rem;
    }

    .btn-lg {
        padding: .5rem 1rem;
        font-size: 1rem;
    }

    .narrow h1 {
        font-size: 1.5rem;
    }

    .clients img {
        width: 50%;
        display: block;
        margin: 0 auto;
    }

    .clients .row {
        text-align: center;
        align-items: center;
    }


    .peeps img {
        width: 50%;
        display: block;
        margin: 0 auto;
        border-radius: 50%;
    }
}

#course {
    background-color: #242424;
    color: white;
    padding-bottom: 60px;

}

.caption {
    -webkit-text-stroke: 4px black;
    /* Width and color of the border */
    -webkit-text-fill-color: white;
    /* Color of the text */


}

.container {
    margin-bottom: 50px;
}