:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --background-color: #242424;
  --secondary-color: #3A4F50;
  --main-color: #0EF6CC;
  --text-color: #F4FEFD;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-image: url("/resources/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-color);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#map {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.know-more-btn{
  color: #242424;
}

.container {
  position: relative;
}

.know-more-btn {
  position: absolute;
  bottom: 2em;
  right: 50%;
  font-size: 3em;
  transition: transform 0.3s ease; 
  cursor: pointer;
}

.know-more-btn:hover {
  transform: scale(1.2); 
}
